html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow: auto;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
}

#flashGrp {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

object:focus {
	outline: none;
}